.main {
  border: 1px solid #aaa;
  border-radius: 10px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  margin: 0 auto;
  padding: 40px 50px 80px 50px;
  text-align: center;
  width: 50%;
}
.button {
  background-color: #17a2b8;
  border: 1px solid #17a2b8;
  border-radius: 5px;
  color: white;
  font-size: 110%;
  height: 40px;
  padding: 0;
  transition: all 0.5s;
  width: 150px;
}
.button:hover {
  background-color: #37c2d8;
  border: 1px solid #37c2d8;
}
.modal {
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
  height: 100%;
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  z-index: 1000;
}
.modal-body{
  background-color: #fff;
  border: 1px solid #777;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  left: calc(50% - 240px);
  margin: 0 auto;
  padding: 20px;
  position: fixed;
  top: calc(50% - 100px);
  width: 440px;
}
.close-button {
  border: 1px solid #999;
  color: #999;
  cursor: pointer;
  float: right;
  font-weight: bold;
  height: 16px;
  line-height: 1;
  text-align: center;
  width: 16px;
}
.close-button:hover {
  border: 1px solid #777;
  color: #777;
}
